{% extends 'base.html' %}

{% block title %} {{article.blog_titles}}  {% endblock %}

{% block content %}
<h2>{{article.blog_titles}}</h2>

<p>{{article.blog_text}}</p>

<em>{{article.published_date}}</em>

{% if article.was_published_recently %}
New article!
{% endif %}

<hr>

{% if latest_comments_list %}
    {% for c in latest_comments_list %}
        <p>
            <strong>{{c.author_name}}</strong>
            <p>{{c.comment_text}}</p>
        </p>
    {% endfor %}
{% else %}
No comments. Be first!
{% endif %}


<hr>


<form action="{% url 'articleblog:leave_comment' article.id %}"  method="POST">

    {% csrf_token %}



    <input type="text" required placeholder="Your name" name="name"><br>
    <textarea name="text" required="" placeholder="Comment"  cols="30" rows="10"></textarea><br>

    <button type="submit">Leave Comment</button>
</form>

{% endblock %}